*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding:0px;
    color:#000;
    overflow-x: hidden;
}
.header{
    background:#75C3CF;
    width:1920px;
    margin:auto;
    height:86px;
    
}
.header1{
  display:flex;
  width:1280px;
  margin:auto;
  height:86px;
}
.searchArea{
    width:300px;
    height:40px;
    background:#000;
    border-radius:8px;
    margin-top:24px;
}
.searchArea > form > input{
    border:none;
    width:250px;
    height:40px;
    background:#fff;
    color:#000;
    padding-left:10px;
}
.searchArea > form > span{
    width:50px;
    color:#fff;/*검색*/
    font-weight:bold;
    cursor:pointer;

}
.nav{
    display:flex;
    justify-content:flex-end;
    line-height:86px;
    width:calc(1280px - 300px);
    color:#fff;
}
.nav>li{
    margin-left:84px;
}
.nav > li > a {
    color:#fff;
}
.intro_text{
    width:100%;
    margin: 115px auto 115px 320px;
}
h1{
    font-size:48px;
}
h4{
  font-size:20px;
}
.intro_text > h1,
.intro_text > h4{
    color:#000;
}
